* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

/* tic-tac-toe board */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    margin-top: 50px;
}

/* individual squares */
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}